
/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8f0;
  color: #333;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090909;
  padding: 15px 40px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: #1d1d1c;
}

/* Main content */
.main-content {
  padding: 60px;
  text-align: center;
}

.submit-btn {
  grid-column: span 2; /* Makes the button take full row in the grid */
  justify-self: center; /* Centers it horizontally */
  width: 850px; /* Or set a fixed width like 200px */
  padding: 15px 30px;
  background-color: #6c757d;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #5a6268;
}
  
